.container{
    display: flex;
    align-items: center;
    background-color: rgb(43, 43, 43);
    width: 100%;
    justify-content: space-between;
    padding: 1rem 5%;
    height: 100px;
}


.landing{
    display: flex;
    cursor: pointer;
    margin: 0 15px;
    width: 100px;
}

.create{
    padding: 1rem 2rem;
    height: 50px;
    background-color: cornflowerblue;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.home{
    padding: 1rem 2rem;
    height: 50px;
    background-color: cornflowerblue;
    font-size: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

.navRigth{
    display: flex;
    align-items: center;
    width:30%;
}

.selectTypes{
    display: inline-block;
    border-radius: 10px;
    width:20%;
    background-color: rgb(43, 43, 43);
    border: 1px solid white;
    padding:2%;
    color:white;
    margin:2%;
    cursor: pointer;
}

.textTypes{
    color:white;
}

.text{
    color:white;
    align-items: center;
}

