


.main {
    display: flex;
    flex-direction: column;
    height: 800px;
    min-height: 800px;
}

.menu{
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);

    display: flex;


    justify-content: space-between;
    align-content: center;
    padding: 2rem 5%;
}



.cards {
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    min-height: 630px;
    flex-direction: column;
    border: none!important;
    padding: 15px 5%;
}

